@import 'tailwindcss';

@theme {
  --color-red-500: #C83939;
}

@custom-variant dark (&:where([class^=dark], [class^=dark] *));

/* Elements */

* {
  @apply leading-relaxed;
}

body {
  @apply text-neutral-900;
  @apply dark:text-neutral-100;
  @apply bg-neutral-100;
  @apply dark:bg-neutral-900;
}
body::after {
  content: '';

  @apply fixed;
  @apply inset-0;
  @apply bottom-1/2;
  @apply bg-cover;
  @apply -z-1;
}
html.light > body::after {
  background-image: linear-gradient(to bottom, rgba(245, 245, 245, .2) 40%, rgba(245, 245, 245, 1) 60%), url('https://ik.imagekit.io/kvn/bg_light_u6a3rn9yA.jpg')
}
html.dark > body::after {
  background-image: linear-gradient(to bottom, rgba(23, 23, 23, .2) 40%, rgba(23, 23, 23, 1) 60%), url('https://ik.imagekit.io/kvn/bg_dark_kZ3_8nAqw.jpg')
}

a {
  @apply text-red-500;
}

img {
  @apply dark:opacity-95;
  @apply print:dark:opacity-100;
}

strong {
  @apply font-semibold;
}

/* Utilities */

.text-scheme-first {
  @apply text-neutral-900;
  @apply dark:text-neutral-100;
}
.text-scheme-second {
  @apply text-neutral-700;
  @apply dark:text-neutral-300;
}
.text-scheme-third {
  @apply text-neutral-500;
  @apply dark:text-neutral-400;
}
.text-scheme-primary {
  @apply text-red-500;
}

.bg-scheme {
  @apply bg-neutral-200/90;
  @apply dark:bg-neutral-800/90;
}
.bg-scheme-75 {
  @apply bg-neutral-200/75;
  @apply dark:bg-neutral-800/75;
}

.border-scheme {
  @apply border-neutral-300;
  @apply dark:border-neutral-700;
}

/* Custom components */

.kvn-card {
  @apply p-4;
  @apply bg-neutral-200/90;
  @apply dark:bg-neutral-800/90;
  @apply border;
  @apply border-neutral-200;
  @apply dark:border-neutral-800;
  @apply rounded-md;
  @apply overflow-hidden;
}
.kvn-card.kvn-card-small {
  @apply px-4;
  @apply py-2;
}

.kvn-markdown h1,
.kvn-markdown h2,
.kvn-markdown h3,
.kvn-markdown h4,
.kvn-markdown h5,
.kvn-markdown h6,
.kvn-markdown ul,
.kvn-markdown ol,
.kvn-markdown p,
.kvn-markdown pre {
  @apply mb-4;
}
.kvn-markdown * + h2,
.kvn-markdown * + h3 {
  @apply mt-6;
}
.kvn-markdown h2 {
  @apply font-semibold;
  @apply text-xl;
}
.kvn-markdown h3 {
  @apply font-semibold;
  @apply text-lg;
}
.kvn-markdown ul,
.kvn-markdown ol {
  @apply pl-4;
}
.kvn-markdown ul {
  @apply list-disc;
}
.kvn-markdown ol {
  @apply list-decimal;
}
.kvn-markdown pre,
.kvn-markdown p code,
.kvn-markdown li code {
  @apply px-1;
  @apply font-mono;
  @apply text-sm;
  @apply bg-neutral-200/90;
  @apply dark:bg-neutral-800/90;
  @apply border;
  @apply border-neutral-200;
  @apply dark:border-neutral-800;
  @apply rounded-md;
}
.kvn-markdown pre {
  @apply p-0;
  @apply overflow-x-auto;
}
.kvn-markdown pre > code {
  @apply w-fit;
  @apply p-4;
  @apply block;
}
.kvn-markdown pre > div {
  @apply w-fit;
  @apply min-w-full;
  @apply m-0!;
  @apply font-mono;
  @apply bg-transparent!;
}

.kvn-audio .rhap_container {
  @apply w-full;
  @apply py-3;
  @apply px-8;
  @apply bg-neutral-200/90;
  @apply dark:bg-neutral-800/90;
  @apply shadow-none;
  @apply items-center;
}
.kvn-audio .rhap_main {
  @apply w-full;
  max-width: 704px;
}
.kvn-audio .rhap_time {
  @apply text-sm;
  @apply text-neutral-700;
  @apply dark:text-neutral-300;
}
.kvn-audio .rhap_repeat-button,
.kvn-audio .rhap_main-controls-button,
.kvn-audio .rhap_volume-button {
  @apply text-neutral-600;
  @apply dark:text-neutral-400;
}
.kvn-audio .rhap_play-pause-button {
  @apply text-neutral-700;
  @apply dark:text-neutral-300;
}
.kvn-audio .rhap_progress-indicator,
.kvn-audio .rhap_volume-indicator {
  @apply bg-neutral-600;
  @apply dark:bg-neutral-400;
  @apply shadow-none;
  @apply opacity-100;
  @apply z-10;
}
.kvn-audio .rhap_progress-bar,
.kvn-audio .rhap_volume-bar {
  @apply rounded-sm;
}
.kvn-audio .rhap_progress-bar-show-download {
  @apply bg-neutral-300;
  @apply dark:bg-neutral-700;
}
.kvn-audio .rhap_download-progress,
.kvn-audio .rhap_volume-bar {
  @apply bg-neutral-400;
  @apply dark:bg-neutral-600;
}
.kvn-audio .rhap_progress-filled {
  @apply bg-neutral-500;
}
